NODE_ENV=development

DAYS_IN_FREEZER=90

PORT=9001
JWT_SECRET=very_secret

AWS_SDK_LOAD_CONFIG=1
EVENTS_QUEUE_URL=https://sqs.eu-west-1.amazonaws.com/173249668334/events-dev

HONEYCOMB_WRITE_KEY=

# Create an account at and use those values.
MAILER_HOST=smtp.ethereal.email
MAILER_USER=
MAILER_PASS=

DEBUG="ON"

DATABASE_URL="postgresql://mkpremium_local_user:mkpremium_local_password@localhost:5432/mkpremium?schema=public"
