NODE_ENV=development

DAYS_IN_FREEZER=90

PORT=9001
JWT_SECRET=very_secret

EVENTS_QUEUE_URL=http://localhost:9324/queue/events

HONEYCOMB_WRITE_KEY=

# Create an account at and use those values.
MAILER_HOST=smtp.ethereal.email
MAILER_USER=
MAILER_PASS=

DEBUG="ON"

DATABASE_URL="postgresql://mkpremium_local_user:mkpremium_local_password@localhost:5432/mkpremium?schema=public"
