# NodeJS Project
# Logs
logs
*.log
node_modules
node_modules-*
built

# Files used by tools like istanbul, mocha
test-results.xml
coverage

# Environment values
/.env
*-pm2.json

# Deployment builds
build

# Email attachments
.uploads

# Editors
.vscode
.idea
*.iml

conf
*.csv
.DS_STORE
*.tgz

# Coverage
.nyc_output
