# NodeJS Project
# Logs
logs
*.log
node_modules

# Files used by tools like istanbul, mocha
test-results.xml
coverage

# Environment values
.env
firebase*.json
*-pm2.json

# Deployment builds
build

# Email attachments
.uploads

# Docker local
/docker-compose.yml

# Editors
.vscode
.idea
*.iml

conf/
*.csv
.DS_STORE
*.tgz

