#
# Environment config variables
# This templates file have defined the default values for each possible value
#

# How verbose is the REST application error handler
# 0 - NONE, 1 - MESSAGE, 2 - STACK TRACE
ERR_HANDLER_LEVEL=0

# Debug string
DEBUG=

# Node environment
NODE_ENV=

# Couchbase
COUCHBASE_TIMEOUT_RETRIES=3
COUCHBASE_URI=couchbase://127.0.0.1?detailed_errcodes=1
COUCHBASE_BUCKET=password
COUCHBASE_USER=admin
COUCHBASE_TIMEOUT=2500
COUCHBASE_TIMEOUT_RETRIES=3
COUCHBASE_CONSISTENCY=3

# Numintec
NUMINTEC_API_URL=http://api.invoxcontact.com
NUMINTEC_API_LICENSE=

# Server socket
SOCKET_ENABLED=true
SOCKET_PORT=9002
SOCKET_SERVER=http://localhost
SOCKET_CONNECTION_RETRIES=10

# JWT
JWT_SECRET=Bitdistrict1sGreat
JWT_EXPIRES=3 day
REFRESH_TOKEN_JWT_EXPIRES=10 days
SALT_FACTOR=10

# Gearman
GEARMAN_ENABLE=true
GEARMAN_HOST=localhost
GEARMAN_PORT=4730

# AWS
AWS_REGION=eu-west-3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=mkpremium
S3_METADATA_PREFIX=dev

# Testing
TEST_SKIP_CALLS=false

# SMTP Mailer
MAILER_HOST=smtp.ethereal.email
MAILER_PORT=587
MAILER_SECURE=false
MAILER_USER=v3hn5oczispny2x4@ethereal.email
MAILER_PASS=kF5nfKm6XreTsMN8Br

# Upload directory for banks
UPLOAD_DIR=./.uploads

# Wait time for call 3rd parties (cadastre, nestoria)
SERVICES_WAIT_TIME=2000
CADASTRE_ADDRESS_CACHE_KEY=address_cache
NESTORIA_CACHE_KEY=nestoria_cache

# Stats how many days calculate
PERFORMANCE_OFFSET_DAYS=15

# Proxies for call 3rd parties (cadastre, nestoria)
PROXY_ENABLE=false
